# PyCharm IDE
.idea
__pycache__

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Models checkpoints and binaries
models/checkpoints
models/binaries

# Data directory
data/

# Tensorboard dump dir
runs/